&lt {
    tapping-term-ms = <TAPPING_TERM>;
};

&sl {
    release-after-ms = <5000>;
};

&caps_word {
    /delete-property/ ignore-modifiers;
};

ZMK_HOLD_TAP(caps_word_mod,
   tapping-term-ms = <TAPPING_TERM_MEDIUM>;
   bindings = <&kp>, <&caps_word>;
)
#define CAPS_WORD(MOD) &caps_word_mod MOD 0

ZMK_HOLD_TAP(tc_fast,
   tapping-term-ms = <TAPPING_TERM_FAST>;
   quick-tap-ms = <QUICK_TAP>;
   bindings = <&mo>, <&kp>;
)
