ZMK_COMBO(Esc,      &hrmrf RS(RCMD) ESC, RM1 RM2, NUM NAV MOUSE)
ZMK_COMBO(GlyphEsc, &g_esc,              RM1 RM2, GLYPHS1 GLYPHS2)

ZMK_COMBO(Scrolla,  &kp LG(LC(LA(G))), LH0 RH0, ALL)

ZMK_COMBO(SysLayer, &mo SYS, RT1 RT2 RT3, BASE, 100)
