#define TAPPING_TERM 165
#define TAPPING_TERM_MEDIUM 150
#define TAPPING_TERM_FAST 135

#define QUICK_TAP  175
#define PRIOR_IDLE 90

#define __               &trans
#define ____             &trans
#define _XX_             &none
#define XXXXXXXXXXXXXXXX &none
#define _TODO_           &none

#define HYPER LS(LC(LG(LALT)))

#define MENU_FOCUS LC(F2)
#define TRAY_FOCUS F20
#define MISSION_CONTROL LG(LC(LA(M)))
#define STAGE_MANAGER LG(LC(LA(S)))
#define WIDGETS LG(LC(LA(N)))
