#define TAPPING_TERM 165
#define TAPPING_TERM_MEDIUM 150
#define TAPPING_TERM_FAST 130

#define QUICK_TAP 175

#define __     &trans
#define ____   &trans
#define _XX_   &none
#define XXXX   &none
#define _TODO_ &none
#define PRIOR_IDLE      175 // 10500/x where x is (relaxed) WPM for English prose
#define PRIOR_IDLE_FAST 150

#define HYPER &kp LS(LC(LG(LALT)))
#define INPUT &kp LG(LC(LA(SPACE)))
