#define HM_TAPPING_TERM 300
#define HM_TAPPING_TERM_FAST 130
#define HM_PRIOR_IDLE 150
#define HM_QUICK_TAP 175

#define KEYS_L  LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R  RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define KEYS_TC LH2 LH1 LH0 RH0 RH1 RH2                                                  // thumbs

ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <HM_TAPPING_TERM>;
    quick-tap-ms = <HM_QUICK_TAP>;
    require-prior-idle-ms = <HM_PRIOR_IDLE>;
    hold-trigger-key-positions = <KEYS_R KEYS_TC>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <HM_TAPPING_TERM>;
    quick-tap-ms = <HM_QUICK_TAP>;
    require-prior-idle-ms = <HM_PRIOR_IDLE>;
    hold-trigger-key-positions = <KEYS_L KEYS_TC>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmlfs,
    flavor = "balanced";
    tapping-term-ms = <HM_TAPPING_TERM_FAST>;
    quick-tap-ms = <HM_QUICK_TAP>;
    require-prior-idle-ms = <HM_PRIOR_IDLE>;
    hold-trigger-key-positions = <KEYS_R KEYS_TC>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmrfs,
    flavor = "balanced";
    tapping-term-ms = <HM_TAPPING_TERM_FAST>;
    quick-tap-ms = <HM_QUICK_TAP>;
    require-prior-idle-ms = <HM_PRIOR_IDLE>;
    hold-trigger-key-positions = <KEYS_L KEYS_TC>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)
